.desktop {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 28px;
  width: 100%;
  height: calc(100% - 28px);
  display: grid;
  grid-template-columns: repeat(auto-fill, 75px);
  grid-auto-rows: 80px;
  padding: 8px;
  gap: 8px;
  align-content: start;
}

.desktop-icon {
  display: flex;
  position: absolute;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 4rem;
  height: 5rem;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;


  /* border: solid 1px pink; */
  
}

.desktop-icon:hover .icon-text {
  background-color: var(--darkblue);
  color: white;
}


.desktop-icon.notepad-icon .icon-image {
  width: 3rem;
  height: 3rem;
}


.desktop-icon.rexico-icon .icon-image {
  width: 4rem;
  height: 4rem;
}


.icon-image {
  width: 3rem;
  height: 3rem;
  margin-bottom: 4px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}



.icon-text {
  font-size: 11px;
  text-align: center;
  color: black;
  font-size: 1rem;
  /* font-weight: bolder; */
  max-width: 100%;
}
