.window {
  position: absolute;
  background-color: #c0c0c0;
  
  border-color: #dfdfdf #000000 #000000 #dfdfdf;
  box-shadow: inset 1px 1px 0px #ffffff, inset -1px -1px 0px #868a8e;
  display: flex;
  flex-direction: column;
  
}

.window.active {
  z-index: 100;
}

.title-bar {
  background: linear-gradient(90deg, var(--lightblue), var(--darkblue));
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px 2px 3px 3px;
  height: 18px;
  cursor: move;
}

.title-bar-text {
  font-weight: bold;
  font-size: 11px;
  margin-left: 2px;
}

.title-bar-controls {
  display: flex;
}

.title-bar-controls button {
  width: 16px;
  height: 14px;
  margin-left: 2px;
  background-color: #c0c0c0;
  border: 1px solid;
  border-color: #ffffff #808080 #808080 #ffffff;
  box-shadow: inset -1px -1px 0 #000000;
  position: relative;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title-bar-controls button:active {
  border-color: #808080 #ffffff #ffffff #808080;
  box-shadow: inset 1px 1px 0 #000000;
}

.title-bar-controls button[aria-label="Minimize"]::before {
  content: "";
  width: 8px;
  height: 2px;
  background-color: #000;
  position: absolute;
  bottom: 3px;
}

.title-bar-controls button[aria-label="Maximize"]::before {
  content: "";
  width: 8px;
  height: 7px;
  border: 1px solid #000;
  border-top-width: 2px;
  background-color: transparent;
  position: absolute;
}

.title-bar-controls button[aria-label="Close"]::before,
.title-bar-controls button[aria-label="Close"]::after {
  content: "";
  width: 10px;
  height: 1px;
  background-color: #000;
  position: absolute;
}

.title-bar-controls button[aria-label="Close"]::before {
  transform: rotate(45deg);
}

.title-bar-controls button[aria-label="Close"]::after {
  transform: rotate(-45deg);
}

.window-body {
  flex: 1;
  
  overflow: auto;
  width: 100%;
  height: 100%;
  background-image: url(/img/clouds-blurry.png);
  background-size: 100%;
  background-position: center;  
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; 
  border: 1px solid;
  
}

/* .window-body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(img/moln-3.png);
  background-size: cover; 
  background-position: center;
  filter: blur(5px);
  z-index: -1; 
} */