.win95-app {
  width: 100vw;
  height: 100vh;
  /* background-color: #008080; */
  background-image: url("/img/moln.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  position: relative;
  font-family: "MS Sans Serif", "Segoe UI", Tahoma, sans-serif;
  color: #000;
  user-select: none;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

button {
  font-family: "MS Sans Serif", "Segoe UI", Tahoma, sans-serif;
}
