/* @font-face {
  font-family: "MS Sans Serif";
  src: url("/ms-sans-serif.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
} */

:root {
  /* font-family: "MS Sans Serif", "Segoe UI", Tahoma, sans-serif; */
  font-family: "Courier New", monospace;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --darkblue: rgb(44, 75, 183);
  --lightblue: rgb(96, 143, 242);
}

body, html {
  margin: 0;
  display: flex;
  place-items: center;
  height: 100%;
  padding: 0;
  overflow: hidden;
}

button {
  cursor: pointer;
}
